<section class="wrapper">
    <section class="grid">
        <section class="col-12 lg:col-6" *ngFor="let item of items">
            <p-card>
                <section class="flex flex-column gap-2" [routerLink]="item.routerLink">
                    <p class="titulo">{{item.titulo}}</p>
                    <p title="{{item.description}}" class="font-semibold text-sm clamp-2">{{item.description}}</p>
                    <button pButton class="p-button-secondary" label="JUGAR" icon="pi pi-play"></button>
                </section>
            </p-card>
        </section>
    </section>
</section>